.ticektscontainer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.classname{
    font-weight: 600;
}
.price{
    font-weight:600
}
.discount-container{
    display: flex;
    justify-content: space-between;
    
}